{
  "dht": {
    "bootstraps" : [
      "localhost:3001",
      "ec2-54-234-89-153.compute-1.amazonaws.com:3001"
    ],
    "port": 9880
  },
  "RESTServer" : {
    "port": 9880,
    "protocol": "http"
  },
	"startup" : {
    "joinNetwork" : "true",
    "joinDHT" : "true"
  }
}
