<div class="row-fluid">

  <div class="span4">

    <h4>My Node</h4>
    <ul>
      <li>
        <a ng-click="showLocalTrackers()" href="">
          <p>{{ thisNodeId }}</p>
        </a>
        <hr>
      </li>
    </ul>
    <h4>Remote Nodes</h4>
    <ul>
      <li ng-repeat="(id, remoteNode) in remoteNodes track by id">
        <a ng-click="showRemoteTrackers(remoteNode)" href="">
          <h4>{{ id }}</h4>
        </a>
        <hr>
      </li>
    </ul>

    <h4>Trackers</h4>
    <ul>

      <li ng-repeat="(id, tracker) in trackers track by id">
        <a ng-click="showThings(tracker)" href="">
          <h4>{{ tracker.getTitle()||id }}</h4>
        </a>
          <small>{{ id }}</small>
          <p>{{ tracker.getDescription() }}</p>
          <p>{{ tracker.getThingsCount() }} things.</p>
          <div ng-show="tracker.remote">
            <p>Remote</p>
            <p ng-show="tracker.online">Online</p>
            <p ng-hide="tracker.online">Offline</p>
            <p ng-show="tracker.verified">Verified</p>
            <p ng-hide="tracker.verified">Not Verified!</p>
            <h4 ng-show="tracker.online"><a ng-click="updateTracker(id)" href="">update</a></h4>
          </div>
          <h4 ng-hide="tracker.remote"><a href="#/app/tracker/{{id}}/thing/new">new thing</a></h4>
          <hr>
      </li>
    </ul>

    <h4>testing...</h4>
    <div>
    <h4><a href="#/app/tracker/new">New Tracker</a></h4>

    <form name="trackersForm">
      <input type="text" ng-model="nodeId" name="nodeId" ng-trim="true" list="testNodeIDs">
      <input ng-click="getRemoteNode(nodeId)" type="button" value="Add Node" id="getNodeBtn">
      <datalist id="testNodeIDs">
       <option value="">
      </datalist>
      <br>
      <input type="text" ng-model="remoteTrackerURL" name="remoteTrackerURL" ng-trim="true" list="testTrackerURLs">
      <input ng-click="getRemoteTrackerFromURL(remoteTrackerURL)" type="button" value="Add Tracker from URL" id="getRemoteTrackerFromURLBtn">
      <datalist id="testTrackerURLs">
       <option value="http://garyhodgson.com/thingtracker.service/">
      </datalist>
    </form>
  </div>

  </div>

  <div class="span8">
    <h3>Things</h3>
    <ul class="thing-list">
      <li ng-repeat="thing in thingsSummary track by $index">
        <img class="pull-left thumbnail" width="50" ng-show="thing.thumbnailURL" ng-src="{{ resourcePath(thing.thumbnailURL) }}">
        <h4><a href="#/tracker/{{ thing.trackerId }}/thing/{{ thing.id }}">{{ thing.title }}</a></h4>
        <p>{{ thing.summary }}</p>
        <hr>
      </li>
    </ul>

  </div>
</div>
