<div class="row">

  <div class="col-md-4">

    <h4>My Node</h4>
    <ul>
      <li>
        <a ng-click="showLocalTrackers()" href="">
          <p>{{ thisNodeDescription }}</p>
        </a>
        <hr>
      </li>
    </ul>
    <h4>Remote Nodes</h4>
    <ul>
      <li ng-repeat="(id, remoteNode) in remoteNodes track by id">
        <a ng-click="showRemoteTrackers(remoteNode)" href="">
          <h4 ng-show="remoteNode.getJSON().description">{{ remoteNode.getJSON().description }}</h4>
          <h4 ng-hide="remoteNode.getJSON().description">{{ remoteNode.getJSON().nodeId }}</h4>
        </a>
        <h5>{{ id }}</h5>
          <p>Online: <span tri-state-indicator state="remoteNode.online"></span>
          <span ng-hide="remoteNode.online" >Last seen: <time ng-show="remoteNode.lastSeenOnline" relative datetime="{{ remoteNode.getLastSeen().toISOString() }}"></time><span ng-hide="remoteNode.lastSeenOnline">Unknown</span></span>
          <br>
          Verified: <span tri-state-indicator state="remoteNode.verified"></span>
          </p>
          <input ng-disabled="!dhtOnline" ng-click="pingRemoteNode(remoteNode)" type="button" value="Ping" id="pingRemoteNodeBtn">

          <input ng-click="refreshRemoteNode(remoteNode)" type="button" value="Check for updates" id="refreshRemoteNodeBtn">
        <hr>
      </li>
    </ul>

    <h4>Trackers</h4>
    <ul>

      <li ng-repeat="(id, tracker) in trackers track by id">
        <a ng-click="showThings(tracker)" href="">
          <h4>{{ tracker.getTitle()||id }}</h4>
        </a>
          <small>{{ id }}</small>
          <p>{{ tracker.getDescription() }}</p>
          <p>{{ tracker.getThingsCount() }} things.</p>
          <div ng-show="tracker.remote">
            <p>Remote</p>
          </div>
          <div ng-hide="tracker.remote">
            <h4><a href="#/app/tracker/{{id}}/thing/new">New Thing</a></h4>
          </div>
          <hr>
      </li>
    </ul>

    <h4>testing...</h4>
    <div>
    <h4><a href="" ng-click="announce('hello')">Announce("hello")</a></h4>
    <h4><a href="#/app/tracker/new">New Tracker</a></h4>

    <form name="trackersForm">
      <input type="text" ng-model="nodeId" name="nodeId" ng-trim="true" list="testNodeIDs">
      <input ng-click="getRemoteNode(nodeId)" type="button" value="Add Node" id="getNodeBtn">
      <datalist id="testNodeIDs">
       <option value="0ed43ef50b8d9496414b2d4fa07f87cdc733df6d">
      </datalist>
      <br>
      <input type="text" ng-model="remoteTrackerURL" name="remoteTrackerURL" ng-trim="true" list="testTrackerURLs">
      <input ng-click="getRemoteTrackerFromURL(remoteTrackerURL)" type="button" value="Add Tracker from URL" id="getRemoteTrackerFromURLBtn">
      <datalist id="testTrackerURLs">
        <option value="http://garyhodgson.com/thingtracker.service/">
        <option value="http://www.bld3r.com/thingtracker">
        <option value="http://reprap.development-tracker.info/thingtracker">
      </datalist>
    </form>
  </div>

  </div>

  <div class="col-md-8">
    <h3>Things</h3>
    <pagination ng-show="totalItems > numPerPage" total-items="totalItems" on-select-page="onPageThings(page)" items-per-page="numPerPage" page="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
    <ul class="thing-list">
      <li ng-repeat="thing in thingsSummary track by $index">
        <img class="pull-left thumbnail" width="50" ng-show="thing.thumbnailUrl" ng-src="{{ imagePath(thing.thumbnailUrl) }}">
        <h4><a href="#/tracker/{{ thing.trackerId }}/thing/{{ thing.id }}">{{ thing.title }}</a></h4>
        <p ng-bind-html="thing.summary | nl2br"></p>
        <div ng-hide="thing.remote">
          <p><a href="#/app/tracker/{{thing.trackerId}}/thing/{{thing.id}}/edit">Edit</a></p>
        </div>
        <hr>
      </li>
    </ul>



  </div>
</div>
