<div class="row-fluid">

  <div class="span4" ng-controller="NodeCtrl">

    <h4>Trackers</h4>
    <ul>

      <li ng-repeat="(id, tracker) in trackers track by id">
        <a ng-click="showThings(tracker)" href="#">
          <h4>{{ tracker.getJSON().title }}</h4>
        </a>
          <small>{{ id }}</small>
          <p>{{ tracker.getJSON().description }}</p>
          <p>{{ tracker.getJSON().things.length }} things.</p>
          <p>{{ tracker.getJSON().trackers.length || 0}} sub-trackers.</p>
          <div ng-show="tracker.remote">
            <p>Remote</p>
            <p ng-show="{{tracker.isOnline()}}">Online</p>
            <p ng-hide="{{tracker.isOnline()}}">Offline</p>
            <p ng-show="{{tracker.getJSON().verified}}">Verified</p>
            <p ng-hide="{{tracker.getJSON().verified}}">Not Verified!</p>
          </div>
          <h4 ng-hide="tracker.remote"><a href="#/app/tracker/{{id}}/thing/new">new thing</a></h4>
          <hr>
      </li>
    </ul>

    <h4>testing...</h4>
    <div>
    <button ng-click="getRemoteTracker('0ed43ef50b8d9496414b2d4fa07f87cdc733df6d','0ed43ef50b8d9496414b2d4fa07f87cdc733df6d')">Test Add</button>
    <h4><a href="#/tracker/0ed43ef50b8d9496414b2d4fa07f87cdc733df6d/thing/da39a3ee5e6b4b0d3255bfef95601890afd80709">show thing</a></h4>

    <h4><a href="#/app/tracker/new">new tracker</a></h4>


    <form name="trackersForm">
      <input type="text" ng-model="nodeId" name="nodeId" value="">
      <input ng-click="getNode(nodeId)" type="button" value="Add Node" id="getNodeBtn">
    </form>
  </div>

  </div>

  <div class="span8">
    <h3>Things</h3>
    <ul class="thing-list">
      <li ng-repeat="thing in thingsSummary track by $index">
        <img class="pull-left thumbnail" width="50" ng-show="thing.thumbnailURL" ng-src="{{ resourcePath(thing.thumbnailURL) }}">
        <h4><a href="#/tracker/{{ thing.trackerId }}/thing/{{ thing.id }}">{{ thing.title }}</a></h4>
        <p>{{ thing.summary }}</p>
        <hr>
      </li>
    </ul>

  </div>
</div>
