<div class="row-fluid">

  <div class="span4">
    <h3>Trackers</h3>
    <ul>
      <li ng-repeat="tracker in trackers track by $index">
        <small>{{ tracker.getJSON().ttnNodeId }}</small>
        <h4>{{ tracker.getJSON().title }}</h4>
        <p>{{ tracker.getJSON().description }}</p>
        <p>{{ tracker.getJSON().things.length }} things.</p>
        <p>{{ tracker.getJSON().trackers.length || 0}} sub-trackers.</p>
        <button ng-click="showThings(tracker)">Show Things</button>
        <span ng-hide="{{tracker.isRoot()}}">
          <button>Save</button>
          <button>Follow</button>
        </span>
        <hr>
      </li>
    </ul>

    <div>
    <button ng-click="getRemoteTracker('0ed43ef50b8d9496414b2d4fa07f87cdc733df6d')">Test Add</button>
    <h4><a href="#/tracker/0ed43ef50b8d9496414b2d4fa07f87cdc733df6d/thing/da39a3ee5e6b4b0d3255bfef95601890afd80709">show thing</a></h4>
  </div>

  </div>

  <div class="span8">
    <h3>Things</h3>
    <ul class="thing-list">
      <li ng-repeat="thing in thingsSummary">

        <img class="pull-left thumbnail" width="50" ng-show="thing.thumbnail" ng-src="{{ resourcePath(thing.thumbnail) }}">
        <h4><a href="#/tracker/{{ thing.trackerId }}/thing/{{ thing.id }}">{{ thing.title }}</a></h4>
        <hr>
      </li>
    </ul>
  </div>
</div>
