<div class="row">
  <div class="col-md-12">

    <div ng-hide="thing.remote">
     <p><a href="#/app/tracker/{{thing.trackerId}}/thing/{{thing.id}}/edit">Edit</a></p>
    </div>

    <div class="page-header">
      <h1 id="title"><span property="ttn:title">{{ thing.title }}</span><small> by <span ng-repeat="author in thing.authors"><span ng-hide='$index==0'>,&nbsp;</span>{{ author.name }}</span></small></h1>
    </div>

    <div class="row">
      <div class="col-md-4">

        <div id="lead-image-container" ngShow="thing.thumbnailUrls">
            <img class='img-responsive lead-image'  ng-src='{{ imagePath(thing.thumbnailUrls[0]) }}' />
        </div>

        <div class="row">
          <div class="col-md-3" ng-repeat="thumbnail in thing.thumbnailUrls" ng-show="!$first">
            <img class='img-responsive' ng-src='{{ imagePath(thumbnail) }}' />
          </div>
        </div>

      </div>

      <div class="col-md-8">

        <div id="description" ng-bind-html="thing.description | nl2br"></div>

        <div class="meta row">
          <div class="col-md-11">
            <div id="home"><i class='glyphicon glyphicon-home' title="Repository"></i>&nbsp;<a ng-show="thing.url" title="{{thing.url}}" ng-click="navigateToURL(thing.url)" href="">{{thing.url|stripUrlProtocol|truncate:100:"&hellip;"}}</a></div>
          </div>
        </div>

        <div class="meta row">
          <div class="col-md-6">
            <div id="authors"><i class='glyphicon glyphicon-user' title="Authors"></i>&nbsp;
                <span ng-repeat="author in thing.authors"><span ng-hide='$index==0'>, </span>{{ author.name }}
                <a ng-show="author.web" href="" ng-click="navigateToURL(author.web)" title="{{author.web}}"><i class="icon-globe"></i></a>
                <a ng-show="author.email" href="" ng-click="navigateToURL('mailto:'+author.email)" title="{{author.email}}"><i class="icon-envelope"></i></a></span>
            </div>
          </div>
        </div>

        <div class="meta row">
          <div class="col-md-6">
            <div id="tags">
              <i class="glyphicon glyphicon-tags" title="tags"></i>&nbsp;
                <a ng-repeat="tag in thing.tags" href="#" class="tag"><span class="label label-primary">{{ tag }}</span>&nbsp;</a>
            </div>
          </div>
          <div class="col-md-6">
            <div id="version">
              <i class="glyphicon glyphicon-calendar" title="version"></i>&nbsp;
                {{ thing.version }}&nbsp;&nbsp;&nbsp;<span ng-show="thing.versions" class="dropdown">
                    [<a class="dropdown-toggle"><small>previous versions</small></a>]
                    <ul class="dropdown-menu">
                      <li ng-repeat="v in thing.versions">
                        <a href="#/thing/{{ thing.id }}/{{ v }}">{{ v }}</a>
                      </li>
                    </ul>
                </span>
            </div>
          </div>
        </div>

        <div class="meta row">

          <div class="col-md-6">
            <div id="licenses"><i class='glyphicon glyphicon-file' title="Licenses"></i>&nbsp;
                  <span ng-repeat="license in thing.licenses"><span ng-hide='$index==0'>, </span>{{ license }}</span>
            </div>
          </div>
          <div class="col-md-6">
            <span ng-show="thing.downloadUrl">
              <div id="download"><i class='glyphicon glyphicon-download' title="Download"></i>&nbsp;<a href="" ng-click="downloadThing(thing)">Download</a></div>
            </span>
          </div>
        </div>

        <div class="meta row">
          <div class="col-md-6">
            <div id="created"><i class='glyphicon glyphicon-play-circle' title="Created"></i>&nbsp;Created:
              <time ng-show="thing.created" relative datetime="{{ thing.created }}"></time>
              <span ng-hide="thing.created">Unknown</span>
            </div>
          </div>
          <div class="col-md-6">
            <div id="updated"><i class='glyphicon glyphicon-refresh' title="Updated"></i>&nbsp;Updated:
              <time ng-show="thing.updated" relative datetime="{{ thing.updated }}"></time>
              <span ng-hide="thing.updated">Unknown</span>
            </div>
          </div>
        </div>

        <div class="lists row">
          <tabset>

            <tab heading="BOM" ng-show="thing.billOfMaterials">
              <div class="list-item row" ng-repeat="item in thing.billOfMaterials | orderBy:'partNumber'">
                <div class="col-md-2">
                  <small class="pull-left">{{ item.partNumber }}</small>
                  <img ng-show="item.thumbnailUrl" class="media-object" width="40px" ng-src="{{ imagePath(item.thumbnailUrl) }}">
                </div>
                <div class="col-md-1">
                  <div>{{ item.quantity || 1 }}&nbsp;{{ item.unit || 'x'}}</div>
                </div>
                <div class="col-md-6">
                  <div class="media">
                    {{item.description}}
                  </div>
                  <small ng-show="item.xBOMMetadata.note"><span class="label label-warning">Note:</span> {{ item.xBOMMetadata.note }}</small>
                </div>
                <div class="col-md-3">
                  <span ng-show="item.url">
                    <span ng-show="thing.isCachedLocally">
                      <a href="" ng-click="openBOMItem(item.url)">Open</a>,
                      <a href="" ng-click="showBOMItem(item.url)">Show</a>
                    </span>
                    <a ng-hide="thing.isCachedLocally" href="" ng-click="navigateToURL(item.url)">Open</a>
                  </span>
                </div>
              </div>
            </tab>

            <tab heading="Instructions" ng-show="thing.instructions">
              <div class="list-item row" ng-repeat="instruction in thing.instructions | orderBy:'step'">
                  <div class="col-md-1">
                    <small>{{instruction.step}}</small>
                  </div>
                  <div class="col-md-10">
                    {{instruction.text}}
                    <br>
                    <span ng-repeat="image in instruction.images">
                      <img width="30px" ng-src="{{ imagePath(image) }}">
                    </span>
                    <br>
                    <small ng-show="instruction.xInstructionMetadata.note"><span class="label label-warning">Note:</span> {{instruction.xInstructionMetadata.note}}</small>
                  </div>
              </div>
            </tab>

            <tab heading="Relationships" ng-show="thing.relationships">
              <ul class="list-item" ng-repeat="relationship in thing.relationships">
                <li>
                    <span ng-show="relationship.title">{{relationship.title}} : </span>
                    <a href="" ng-click="navigateToURL(relationship.url)">{{ relationship.url}}</a>
                    <span ng-show="relationship.type"> ({{relationship.type}}) </span>
                </li>
              </ul>
            </tab>

          </tabset>
        </div>
      </div>
    </div>

  </div>
</div>